<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking Successful</title>
    <style type="text/css">
        span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }

    </style>
</head>
<body>
<div align="center" action="#" th:action="@{/bookingInfo}" th:object="${bookings}" method="post">
    <h2>Booking Succeeded!</h2>
    <span th:text="'Ticket ID: ' + ${#request.getParameter('ticketID')}"></span><br/>
    <span th:text="'Ticket Price: ' + ${#request.getParameter('ticketPrice')}"></span>
    <span th:text="'Number Of Persons: ' + ${#request.getParameter('numberOfPersons')}"></span>
    <span th:text="'Booked Date: ' + ${#request.getParameter('dateOfBooking')}"></span>
    <span th:text="'MovieName: ' + ${#request.getParameter('movieName')}"></span>
    <span th:text="'Seat Number: ' + ${#request.getParameter('seatNumber')}"></span>
    <span th:text="'Total Ticket Price: ' + ${#request.getParameter('totalTicketPrice')}"></span>
    <form>
        <button><a th:href="@{/checkout}">Pay</a></button>
    </form>
</div>
</body>
</html>