<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking Successful</title>
    <style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center" action="#" th:action="@{/bookingInfo}" th:object="${bookings}" method="post">
    <h2>Booking Succeeded!</h2>

    <span>Movie name:</span><span th:text="${bookings.movieName}"></span><br/>
    <span>Ticket Price:</span><span th:text="${bookings.ticketPrice}"></span><br/>
    <span>Total Ticket Price:</span><span th:text="${bookings.totalTicketPrice}"></span><br/>
    <span>Number of Persons:</span><span th:text="${bookings.numberOfPersons}"></span><br/>
    <span>Seat Numbers:</span><span th:text="${bookings.seatNumber}"></span><br/>
    <span>Booking Date:</span><span th:text="${bookings.date}"></span><br/>
    <span>Show Time:</span><span th:text="${bookings.time}"></span><br/>
    <span>Hall:</span><span th:text="${bookings.hall}"></span><br/>
    <span>Auditorium:</span><span th:text="${bookings.auditorium}"></span><br/>
    <form>
        <button><a th:href="@{/payment}">Pay</a></button>
    </form>
</div>
</body>
</html>